@media only screen and (max-width: 500px)
{
	.responsive {
        width: 100%;
    }
}
	

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 6px;
    }
}
body
{
	font-family: 'Ubuntu', sans-serif;
}
div.navbar
{
	position: fixed;
	top: 0;
	width: 100%;
}
div.p1
{
	min-height: 400px;
	height: auto;
    	width: device-width;
    	background-color: LightSeaGreen ;
}
div.p3
{
	min-height: 400px;	
	height: auto;
    	width: device-width;
    	background-color: GoldenRod  ;
}
div.p2
{
	min-height: 400px;	
	height: auto;
    	width: device-width;
    	background-color: PaleVioletRed   ;
}


h1,h2
{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 45px;
}
h1.name
{
	font-size: 70px;
}

p.intro
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 28px;
	margin-left: 30px;
	margin-right: 30px;
}
div.skill
{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
div.in_center
{
	text-align: center;
}
div.card_items
{
	align-self: center;
}
.info
{
	font-family: 'PT Sans Narrow', sans-serif;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 30px;
	
	
}
#panel1,#panel2,#panel3,#panel4
{
	display: none;
}
i,button
{
	margin-left: 30px;
	font-size: 40px;
}
div.row
{
	align-self: center;
}
div.icons
{
	align-self: center;
}
.fa
{
	padding: 20px;
  	font-size: 30px;
  	width: 30px;
  	text-align: center;
  	text-decoration: none;
  	border-radius: 50%;
}
.fa-envelope
{
	color: #282828;
}
.fa-github
{
	color: #282828;
}
.fa-linkedin
{
	color: #282828;
}
.fa-facebook
{
	color: #282828;
}
.fa-instagram
{
	color: #282828;
}


